<script src="{{uiRootPath}}/js/site.js"></script>
{{#if page.attributes.content-scripts}}
{{{page.attributes.content-scripts}}}
{{/if}}
<script async src="{{uiRootPath}}/js/vendor/highlight.js"></script>
{{#if env.ALGOLIA_API_KEY}}
<script async id="search-script" src="{{uiRootPath}}/js/vendor/docsearch.js"
  {{~#if env.ALGOLIA_APP_ID}} data-app-id="{{env.ALGOLIA_APP_ID}}" {{/if~}}
  data-api-key="{{env.ALGOLIA_API_KEY}}" data-index-name="{{env.ALGOLIA_INDEX_NAME}}" data-stylesheet="{{uiRootPath}}/css/vendor/docsearch.css"></script>
{{/if}}
{{#if (eq env.FEEDBACK_BUTTON 'true')}}
<script async id="feedback-script" src="{{uiRootPath}}/js/vendor/feedback.js?v=1" data-collector-id="de2e9313"></script>
{{/if}}
<script async src="{{uiRootPath}}/js/vendor/mark.js"></script>
