<!DOCTYPE html>
<html lang="en">
  <head>
{{> head-first}}
    <title>Entota Help</title>
    {{#if site.url}}
    <link rel="canonical" href="{{{site.url}}}">
    {{/if}}
{{> head-last}}
  </head>
  <body class="home">
{{> header}}
{{> body-home}}
{{> footer}}
  </body>
</html>
